.header {
    display: flex;
    height: 88px;
    align-items: center;
    width: 100%;
    border:1px solid #41F6D7 ;
    background-color: $decoration-color-2;

    .icon:nth-child(1){
        margin-left: 16px;
    }

    .image{
        margin-left: 4px;
        margin-right: -4px;
    }
    
    
    

    &__icon-wrapper {
        
        display: flex;
        // margin: 8px;

        &--main-logo {

            flex-grow: 1;

        }
    }

    &--repair{
        margin-right: 16px;
    }

    &--contacts {
        display: none;
    }

    &--repair {
        &::before {
            content: '';
            margin: auto 20px auto 4px;
            position: relative;
            left: 15px;
            display: block;
            width: 2px;
            height: 32px;
            background-color: $decoration-color-4;
        }
    }
}

