.overlay{
    position:fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display:none;
      z-index: 2;
      background-color: $decoration-color-2;
      opacity: .90;
      &--active{
        display:block;
      }
  }