$decoration-color-1:#41F6D7;
$decoration-color-2:#FFFFFF;
$decoration-color-3:#7E7E82;
$decoration-color-4:#EAEAEA;
$decoration-color-5:#F8F8F8;
$decoration-color-6:#FF3E79;
$decoration-color-7:#1B1C21;
$decoration-color-8:#dddddd;
$decoration-color-9:#b5b6bc;
$decoration-color-10:#9d9ea0;
$shadow: #0e185030;